p{
    color: black;
}
h2{
    color: #000;
}
section{
    height: 900px;
    background-color: white;
    background-position: center;
    background-attachment: fixed;
}

.CoverSection{
    background-image: url(https://images.rawpixel.com/image_1000/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvcGYtbWM4LWFrZTc0NzkyLWV5ZS5qcGc.jpg?s=6AMrI2g1vAw1cqyPZYn4ER5exu3bpqMYhsVyWIe-PP0);
    height: 600px;
    background-position: center;
    background-attachment: fixed;
}

.CoverSectionBot{
    height: 360px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0FSI_RVIuU_jl7NUsgGsLuGegCuo_bnclIA&usqp=CAU);
    background-position: center;
    background-attachment: fixed;
}

.CovSecContent{
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
}

.CovSecTitle{
    font-size: 130px;
    text-align: left;
    color: black;
    text-decoration: underline blue 10px;
    text-underline-offset: 25px;
    margin-bottom: 20px;
}

.CovSecP{
    font-size: 30px;
    text-align: left;
    color: black;
}
  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}
  
  /*.flex-col div{
    color: black;
    width:100%;
    min-height: 10px;
    margin-bottom: 5px;
    font-size: 40x;
    justify-content: center;
    align-items:center;

  }*/

/*2 equal cols*/
.column {
  flex: 100%;
  padding: 10px;
  height: 550px; 
  text-align: left;
  justify-content: center;
  
}

a {
    text-decoration: none;
}

/* box */
.box {
    width: 100%;
    border-radius: 10px;
    background-color: var(--bg-content);
    box-shadow: var(--shadow);
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    height: 150px;
}

.dark .box {
    border: 1px solid var(--bg-content);
    background-color: var(--bg-body);
}

.box-hover {
    transition: transform 0.2s ease-in-out;
}

.box-hover:hover {
    transform: scale(1.05) translateY(-10px);
    box-shadow: rgb(0 0 0 / 10%) 0px 15px 30px;
}

.box-header {
    padding: 10px 0 30px;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-txt);
    position: relative;
    text-transform: uppercase;
}
/* end box */
/* count box */
.count {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.count-icon {
    --width: 70px;
    width: var(--width);
    height: var(--width);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2.5rem;
    margin-right: 15px;
}

.count-info h5 {
    font-size: 1.5rem;
}

.count-info span {
    display: inherit;
    margin-bottom: -20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}

.count-confirmed .count-icon {
    background-color: #ffa0a0;
    color: red;
}

.count-confirmed .count-info h5 {
    color: red;
}

.count-recovered .count-icon {
    background-color: #bffabf;
    color: green;
}

.count-recovered .count-info h5 {
    color: green;
}

.count-death .count-icon {
    background-color: #e2e8f0;
    color: #373c43;
}

.count-death .count-info h5 {
    color: #373c43;
}
/* end count box */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    justify-content: center;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    justify-content: center;
    color: #000;
    height: max-content;
    
}


[class*="col-"] {
    padding: 0 15px;
    justify-content: space-around;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* medium screen */
@media only screen and (max-width: 1280px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* small screen */
@media only screen and (max-width: 850px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}
/*css for the news articles*/
body{margin-top:20px;}

.section {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color: #ebf4fa;
}
/* Blog 
---------------------*/
.blog-grid {
  margin-top: 15px;
  margin-bottom: 15px;
}
.blog-grid .blog-img {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.blog-grid .blog-img .date {
  position: absolute;
  background: #3a3973;
  color: #ffffff;
  padding: 8px 15px;
  left: 0;
  top: 10px;
  font-size: 14px;
}
.blog-grid .blog-info {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  background: #ffffff;
  padding: 20px;
  margin: -30px 20px 0;
  position: relative;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color: #3a3973;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}

.px-btn-arrow {
    padding: 0 50px 0 0;
    line-height: 20px;
    position: relative;
    display: inline-block;
    color: #fe4f6c;
    -moz-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
}


.px-btn-arrow .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
    -moz-transition: ease right 0.3s;
    -o-transition: ease right 0.3s;
    -webkit-transition: ease right 0.3s;
    transition: ease right 0.3s;
}

.px-btn-arrow .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Blog 
---------------------*/
.blog-grid {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .blog-grid .blog-img {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }
  .blog-grid .blog-img .date {
    position: absolute;
    background: #3a3973;
    color: #ffffff;
    padding: 8px 15px;
    left: 0;
    top: 10px;
    font-size: 14px;
  }
  .blog-grid .blog-info {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    background: #ffffff;
    padding: 20px;
    margin: -30px 20px 0;
    position: relative;
  }
  .blog-grid .blog-info h5 {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 10px;
  }
  .blog-grid .blog-info h5 a {
    color: #3a3973;
  }
  .blog-grid .blog-info p {
    margin: 0;
  }
  .blog-grid .blog-info .btn-bar {
    margin-top: 20px;
  }
  
  .px-btn-arrow {
      padding: 0 50px 0 0;
      line-height: 20px;
      position: relative;
      display: inline-block;
      color: #fe4f6c;
      -moz-transition: ease all 0.3s;
      -o-transition: ease all 0.3s;
      -webkit-transition: ease all 0.3s;
      transition: ease all 0.3s;
  }
  
  
  .px-btn-arrow .arrow {
      width: 13px;
      height: 2px;
      background: currentColor;
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 25px;
      -moz-transition: ease right 0.3s;
      -o-transition: ease right 0.3s;
      -webkit-transition: ease right 0.3s;
      transition: ease right 0.3s;
  }
  
  .px-btn-arrow .arrow:after {
      width: 8px;
      height: 8px;
      border-right: 2px solid currentColor;
      border-top: 2px solid currentColor;
      content: "";
      position: absolute;
      top: -3px;
      right: 0;
      display: inline-block;
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  
  /*VIEW ALL NEWS BUTTON*/
  
  .btn-news {
      color: #333;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 30px;
      text-align: center;
  }
  .btn-news.btn-contests a {
      color:black;
      font-family: 'nimbus-sans-condensed', sans-serif;
      font-size: 24px;
      transition: all 0.2s ease-in-out 0s;
  }
  .btn-news.btn-contests a:hover {
      color: #000;
      opacity: 50%;
  }
