section{
    height: 900px;
    background-color: white;
    background-position: center;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.CoverSection{
background-image: url(https://i.fbcd.co/products/original/cb7e51babba3596dbdf8d170e84cc4876369324e4913a61b7e7ba9f964cdb6a4.jpg);
height: 600px;
background-position: center;
background-attachment: fixed;
    width: 100%;
}

.CoverSectionBot{
height: 360px;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0FSI_RVIuU_jl7NUsgGsLuGegCuo_bnclIA&usqp=CAU);
background-position: center;
background-attachment: fixed;
}

.CovSecContent{
position: absolute;
margin-top: 150px;
margin-left: 50px;
}

.CovSecTitle{
font-size: 130px;
text-align: left;
color: black;
text-decoration: underline blue 10px;
text-underline-offset: 25px;
margin-bottom: 20px;
}

.CovSecP{
font-size: 30px;
text-align: left;
color: black;
}

/*Art test kit section*/
.artRedesignSec{
    margin-top: 100px;
}

.artTestKit{
    height: 600px;
    width: 50%;
    float: left;
    border-radius: 50px;
}

.rightContent{
    float: right;
    width: 50%;
}

.rightContainer{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.artRedesignTitle1{
    font-size: 65px;
    text-align: right;
    color: black;
}

.artRedesignTitle2{
    font-size: 65px;
    text-align: right;
    color: black;
    text-decoration: underline blue 10px;
    text-underline-offset: 25px;
    margin-bottom: 20px;
}

.artRedesignP{
    color: black;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: left;
}

.artRedesignButton{
    margin-top: 150px;
    font-size: 30px;
    height: 75px;
    width: 200px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 50px;
}
.artRedesignButton:hover{
    color: black;
    background-color: transparent;
    border: 3px solid black;
}